body {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 20px;
    font-family: Poppins, sans-serif;
  }
  
  .container {
    margin: 50px auto;
    border-radius: 25px;
    padding: 25px;
    position: relative;
    background-color: #f1f1f1;
  }
  
  .darker {
    border-color: #ccc;
    background-color: #4CD964;
    text-align: right;
  } 

  .span {
    font-weight: bold;
  }

  #back-to-top {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #f1f1f1; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #back-to-top:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }
  /* .container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  .container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
  } */

  /* speech bubble 13 */
  
  .sb13:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 20px solid #4CD964;
    border-right: 20px solid transparent;
    border-top: 20px solid #4CD964;
    border-bottom: 20px solid transparent;
    right: -16px;
    top: 50%;
  }
  
  
  /* speech bubble 14 */
  
  .sb14:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid #f1f1f1;
    border-top: 20px solid #f1f1f1;
    border-bottom: 20px solid transparent;
    left: -16px;
    top: 50%;
  }